<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
  integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
   
</head>
<style>
  .wrapper {
  display: flex;
 justify-content: center;
  
 
}

.main,
.sidebar {

  padding: 15px;
  background-color: #fff;
}

.main {
 

 
  justify-content: center;
  margin-left: auto;
 
}

.sidebar {
 

  top: 0;
  

}

</style>

<body>
    <div class="container">
    <div class="row wrapper" >
      
    <div class="col-md-3 col-sm-12 col-xs-12 sidebar" style="text-align: left;">
        <div class="card" style="max-width: 300px;">
            <div class="row no-gutters">
             
              <div class="col-lg-12">
                <div class="card-body" >
                  <h5 class="card-title">Sort By</h5>
                  <ul class="list-group">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Fuels</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Motor:</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Brands</a>
                     <li class="list-group-item list-group-item-light">Fuel:</li>
                     <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Fuels</a>
                     <a href="#" class="list-group-item list-group-item-action list-group-item-light">Motor:</a>
                     <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Brands</a>
                      <li class="list-group-item list-group-item-light">Fuel:</li>
                      
                     
              
                   </ul>
                </div>
              </div>
            </div>
          </div>
    </div>
    {% for post in posts %}
    
    <div class="col-md-8 main" style="text-align: center;border: 3px solid red;"  >
        <div style="height: 40px;background-color: rgb(252, 217, 174);">
          <h4>{{post.name}}</h4>
               
               
        </div>
    <div class="card " >
        <div class="row no-gutters">
          <div class="col-md-5" style="margin-top:20px;margin-left: 5px;" >
            <img src="{{ url_for('static', filename='img/'+post.image_file ) }}" class="card-img" alt="..;">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              
                <ul class="list-group">
                   <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Price:${{post.price}}</a>
                   <a href="#" class="list-group-item list-group-item-action list-group-item-light">Motor:{{post.motor}}</a>
                   <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Gearbox:{{post.gearbox}}</a>
                    <li class="list-group-item list-group-item-light">Fuel:{{post.fuel}}</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">Brand:{{post.brand}}</li>
                  
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Registration:{{post.register}}</a>
                    <br>
                  </ul>
            </div>
          </div>

        
        </div>
      </div>
    </div>
   
    {%endfor%}
    </div>
</div>
</body>
</html>